#plans {
  flex-direction: row;
  flex-wrap: wrap;
}

.lesson-plan-frame {
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  min-width: 300px;
  transition: all ease-in-out 0.5s;
}

.lesson-plan-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lesson-plan-frame:hover {
  flex-grow: 2;
}

.lesson-plan-img-wrapper {
  position: relative;
  display: flex;
  height: 60vh;
  overflow: hidden;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.lesson-plan-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lesson-plan-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.641);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: white;
}

.lesson-plan-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 5px;
}
