.brush-frame-wrapper {
  position: relative;
  display: inline-block;
}

.brush-stroke {
  position: absolute;
  z-index: 3;
}

.brush-frame-wrapper.filled {
  color: black;
}

.brush-frame-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.brush-frame-content > * {
  width: 100%;
  height: 100%;
}
