/* ContactForm.css */
#contact {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  flex-basis: 0;
  max-width: 500px;
  background-color: var(--background);
}

#formTitle {
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem; /* space for icon */
  border: unset;
  text-align: right; /* Hebrew text right-aligned */
  transition: all 0.5s;
  padding: 8px;
  background-color: unset;
  border-bottom: 2px solid var(--accent);
}

.input-wrapper textarea {
  resize: none; /* prevent manual resize */
  overflow: hidden; /* hide scrollbars */
}

.input-wrapper {
  width: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--accentDark);
  transition: all 0.1s;
}

textarea {
  resize: vertical;
}

.submit {
  padding: 0.75rem;
  border: none;
  transition: all 0.5s;
  background-color: unset;
  box-sizing: content-box;
}
.status-sending,
.status-sent {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  color: green;
}

.status-error {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  color: rgb(128, 0, 0);
}

@media (max-width: 768px) {
  #contact {
    order: 1;
    max-width: unset;
  }
}
