/* ContactForm.css */
section#contact {
  padding: 2rem;
  background-color: var(--background);
  border-radius: 5px;
}

h2 {
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 2.5rem; /* space for icon */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  text-align: right; /* Hebrew text right-aligned */
  transition: all 0.5s;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--accentDark);
  box-shadow: 0 0 5px var(--accent);
  transition: all 0.1s;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

button {
  padding: 0.75rem;
  background-color: var(--accent);
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: var(--accentDark);
  transition: all 0.1s;
}

.status-sending,
.status-sent {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  color: green;
}

.status-error {
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  color: rgb(128, 0, 0);
}

@media (max-width: 600px) {
  form {
    width: 90%;
  }
}
