.overlay-collapse {
  position: absolute;
  top: 100%; /* right below the navbar */
  left: 0;
  width: 100%;
  z-index: 999; /* make sure it appears on top */
  padding: inherit;
  background-color: inherit;
}

#logo,
.navbar-brand {
  height: 100%;
}

.nav-link {
  color: var(--text);
  font-family: mainFont;
}

.navbar .container {
  background-color: inherit;
  height: 100%;
  position: relative;
  flex-wrap: nowrap;
}

#mynavbar {
  background-color: var(--background) !important;
  z-index: 1000;
  height: 80px;
  position: sticky;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
  background-color: var(--secondary);
  border: none;
  outline: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .overlay-collapse {
    position: static; /* normal behavior on desktop */
  }
}

@media (max-width: 768px) {
  #logo,
  .navbar-brand {
    height: unset;
    max-width: 100%; /* don’t exceed container width */
    height: auto; /* maintain aspect ratio */
  }

  .overlay-collapse {
    padding-bottom: 10px;
  }

  .nav-link {
    padding-right: 10px;
  }
}
