.split-section {
  display: flex;
  width: 100%;
  height: 100vh;
}

.split-left,
.split-right {
  flex: 1;
  flex-basis: 0;
}

.split-left {
  background-size: cover;
  background-position: center;
}

.split-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.button-row {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.pill-button {
  margin: 0.3rem 0.75rem;
  padding: 0.3rem 0.75rem;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
}

/* Responsive for devices narrower than 768px */
@media (max-width: 768px) {
  .split-section {
    flex-direction: column;
    height: auto;
  }

  .split-left,
  .split-right {
    flex: unset;
    width: 100%;
  }

  .split-left {
    height: 75vh;
  }
}
