.title-wrapper {
  display: inline-block; /* shrink to content width */
  text-align: center; /* center text and line */
  position: relative;
}

.title {
  margin: 0;
  font-size: 24px;
}

.title-line {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.5rem; /* spacing between text and line */
  fill: var(--text);
}
