:root {
  --text: #1d1d1d;
  --background: #fbfbfe;
  --secondary: #e1e1e1;
  --accentLight: #d9f3d5;
  --accent: #baebb3;
  --accentDark: #89d789;
}

#everything {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@font-face {
  font-family: "mainFont";
  src: url(./assets/NotoSansHebrew.ttf);
}

@font-face {
  font-family: "mainFontBold";
  src: url(./assets/NotoSansHebrew.ttf);
  font-weight: 700;
}

body {
  margin: 0;
  font-family: mainFont;
  color: rgb(0, 0, 0);
}

#content {
  position: relative;
  flex-grow: 1;
}

:not(.background) {
  z-index: 10;
}

/*buttons*/

.clickable {
  border-radius: 10px;
  transition: background-color 0.5s;
}

.highlight {
  background-color: var(--accent);
  border-radius: 10px;
}

.clickable:hover {
  background-color: var(--accentLight);
  transition: background-color 0.1s;
}

.highlight:hover {
  background-color: var(--accentDark);
  border-radius: 10px;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accentDark);
}
